@use '../abstract/variaveis';
@use '../abstract/mixins';

header {
  background: variaveis.$gradiente-primario;
  padding: 2rem;

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
    .linha {
      border-top: 1px solid black;
      width: 80%;
    }
    ul {
      display: inline-flex;
      gap: 2rem;
      li {
        list-style-type: none;
      }
      a {
        text-decoration: none;
        @include mixins.ff-fs-cl(variaveis.$ft-textos, 1rem, variaveis.$cor-primaria);
        font-weight: 500;
        transition: font-weight 0.2s;
        &:hover {
          font-weight: bold;
        }
      }
    }
  }
  #home {
    max-width: 1040px;
    @include mixins.margem-central(80%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    .textos-home {
      max-width: 464px;
      h1 {
        font-size: 38px;
        color: variaveis.$cor-primaria;
        margin-bottom: 2rem;
        font-family: variaveis.$ft-titulos;
        span {
          color: variaveis.$cor-secundaria;
        }
      }
      button {
        width: 280px;
        height: 50px;
        border: none;
        outline: none;
        padding: 0.5rem 2rem;
        border-radius: 50px;
        background-color: variaveis.$cor-secundaria;
        font-size: 1.3rem;
        color: #FFF;
        cursor: pointer;
        transition: filter 0.5s;
        &:hover {
          filter: brightness(1.5);
        }
      }
    }
    .img-home {
      max-width: 474px;
      img {
        width: 100%;
      }
    }
  }
}